---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section id="about">
  <p class="dark:text-light mt-[117px]">Hey, I’m</p>
  <h1 class="text-6xl main-heading">{name}</h1>
  <p class="dark:text-light text-lg mb-16">
    {about}
  </p>
</section>
